@import "variables";

::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}
body {
  margin: 0;
  overflow: hidden;
}

h1 {
  font-family: $heading;
  font-weight: 800;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 7rem;
  margin: 1rem;
}

h3 {
  font-family: $subheading;
  font-weight: 800;
  text-transform: uppercase;
  color: $blue;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

p {
  font-family: $body;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.orange {
  background-color: $orange;
}
.blue {
  background-color: $blue;
}
.teal {
  background-color: $teal;
}
.orange-text {
  color: $orange;
}
.blue-text {
  color: $blue;
}
.teal-text {
  color: $teal;
}
//NAVIGAION

.navbar {
  width: 100vw;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-main {
  margin-left: 5%;
}

.cc-logo {
  width: 100%;
  max-width: 300px;
}

.menubox {
  width: 50px;
  height: 50px;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-line {
  margin-top: 8px;
}

.menu-line {
  width: 45px;
  height: 4px;
  margin-bottom: 8px;
  border-radius: 15px;
  background-color: black;
}

//HERO SECTION

.hero-container {
  position: relative;
  width: 100vw;
}

.hero-video-container {
  position: relative;
  width: 100vw;
}

#hero-video {
  width: 92%;
  padding: 5px 4% 4% 4%;
  border-left: 0 solid transparent;
  border-radius: 7em;
}


.ticker-container {
  max-width: 100%;
  overflow: hidden;
}

.ticker {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 40s linear infinite;
}

.ticker p {
  display: inline-block;
  font-family: $subheading;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  font-size: 2.3rem;
  margin: .8rem 0 .5rem 0;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.work-container {
  width: 100vw;
  position: relative;
}

.work-orange-lines {
  position: absolute;
  bottom: 10px;
  max-width: 400px;
}

.work-grid {
  position: relative;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 2000px;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.work-item-1 {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  padding-right: 5%;
}
.work-item-2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0 20px;
  h1 {
    font-size: 12rem;
    line-height: 10rem;
  }
}
.work-item-3 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  padding-left: 5%;
  h3 {
    color: $teal;
  }
}
.work-item-4 {
  padding: 5%;
  h3 {
    color: $orange;
  }
}

.work-title {
  color: $teal;
}

.work-item-title {
  h3 {
    margin: 1rem 0;
  }
}

.clients-container {
  position: relative;
  width: 100vw;
}

.clients-blue-lines {
  position: absolute;
  right: 0;
  top: -10px;
  max-width: 400px;
}

.clients-title {
  color: $orange;
  padding: 5% 0 0 5%;
  margin: 0;
}

.clients-grid-container {
  display: grid;
  width: 100%;
  justify-items: center;
  max-width: 2000px;
  margin: 70px auto 0 auto;
}

.clients-grid {
  display: grid;
  z-index: 5;
  margin: 30px 0;
  width: 90%;
  grid-row-gap: 8rem;
  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 5%;
}
.clients-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-row-title {
  justify-content: flex-start;
  h3 {
    color: $teal;
  }
}

.services-container {
  position: relative;
  width: 100vw;
}

.services-title {
  color: $blue;
  padding: 5% 0 0 5%;
  margin: 0;
}

.services-grid {
  display: grid;
  width: 90%;
  padding: 5%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  max-width: 2000px;
  margin: 0 auto;
}

.services-grid-item {
  text-align: center;
  padding: 2rem;
  border: 2px solid $orange;
  border-radius: 50px;
  h3 {
    font-size: 2rem;
  }
  img {
    height: 100px;
  }
}


.contact-container {
  height: 60vw;
  position: relative;
  max-height: 1500px;
}

.contact-title {
  color: $teal;
  margin: 5%;
}

.contact-items {
  display: flex;
  padding: 0 5%;
  max-width: 2000px;
  margin: 0 auto;
}

.contact-img {
  width: 65%;
  margin-top: -18%;
  img {
    width: 100%;
    padding-left: 10%;
  }
}

.contact-form {
  margin-top: -2%;
  width: 35%;
  label {
    color: $teal;
    font-size: 1.8rem;
    font-family: $subheading;
    text-transform: uppercase;
  }
}
.feedback-input {
  background: #dcdcdc;
  font-weight:500;
  font-size: 1.8rem;
  border-radius: 5px;
  line-height: 22px;
  border: none;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid $teal; }

textarea {
  height: 200px;
  line-height: 150%;
  resize:vertical;
  font-family: $body;
  font-size: 1.8rem;
  margin-top: 10px;
}

[type="submit"] {
  background:$teal;
  cursor:pointer;
  color:white;
  font-size:1.7rem;
  padding: 15px 40px;
  transition: all 0.3s;
  font-weight: 500;
  border-radius: 10px;
  border: none;
}

#footer {
  position: relative;
  width: 95vw;
  height: 120px;
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  p {
    color: white;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
  }
  a {
    color: white;
  }
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p {
    margin-right: 20px;
  }
  img {
    height: 30px;
    width: 30px;
    padding: 15px;
  }
}
.footer-address {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-careers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15%;
}


// DEAR HOLLYWOOD 

.dh-hero-container {
  position: relative;
  width: 100vw;
  background-color: $light;
}

.alyson-hero-img {
  width: 100%;
  margin-bottom: -5px;
}

.dh-hero-text-container {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 50%;
  max-width: 1400px;
}

.dh-hero-title {
  color: $teal;
  font-size: 11rem;
  line-height: 10rem;
}
.dh-hero-body {
  position: absolute;
  right: 0;
  width: 75%;
}
.dh-hero-badge {
  width: 150px;
  margin-right: 20px;
  margin-top: 20px;
}

.dh-services-container {
  width: 100vw;
  position: relative;
  .clients-blue-lines {
    z-index: -1;
  }
}
.dh-services-title {
  padding: 3% 5%; 
}

.dh-services-grid {
  display: grid;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5% 2% 5%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
}

.dh-services-item {
  padding: 3rem;
  text-align: center;
  color: white;
  border-radius: 20px;
  img {
    width: 95%;
    margin-top: 15%;
  }
}
.dh-services-item-img {
  margin-top: 2rem;
  text-align: center;
  img {
    width: 100%;
  }
  h3 {
    color: $teal;
    margin: 1rem 0 0 0;
  }
}

.dh-services-podcast-video {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto 7% auto;
  iframe {
    width: 90%;
  }
  h3 {
    color: $teal;
    margin: 1rem 0 0 0;
  }
}

.dh-results-container {
  position: relative;
  .clients-blue-lines {
    z-index: -1;
  }
  .services-grid {
    padding: 0 5%;
  }
  .services-grid-item {
    img {
      height: 50px;
      margin-top: 2rem;
    }
    .social-logo-sq {
      height: 60px;
    }
    h3 {
      font-size: 3.3rem;
      line-height: 3.5rem;
      margin: 2.5rem;
    }
  }
}
.dh-rankings-container {
  display: flex;
  margin: 0 auto;
  padding: 0 5%;
  width: 90%;
  max-width: 2000px;
  justify-content: space-between;
  font-family: $heading;
  font-weight: 800;
}

.dh-ranking {
  color: $orange;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dh-ranking-number {
  h3 {
    font-size: 5rem;
    margin-right: 15px;
    color: $orange;
  }
}
.dh-ranking-text {
  h5 {
    font-size: 3.3rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: -10px;
  }
  span {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }
}
.dh-shorty-award-container {
  display: grid;
  margin: 0 auto;
  padding: 3% 5% 10% 5%;
  width: 90%;
  max-width: 2000px;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
}
.dh-shorty-award {
  img {
    max-width: 400px;
    margin-bottom: 20px;
  }
  h6 {
    text-transform: uppercase;
    color: $teal;
    font-size: 2rem;
    font-family: $heading;
    text-align: center;
    margin: 0;
  }
}
.dh-short-award-video {
  border: 1px solid gray;
}

//  META LANDING PAGE

.meta-hero-container {
  position: relative;
  width: 100vw;
  background-color: $light;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.meta-hero-image {
  width: 50%;
  margin-left: 5%;
}

.meta-hero-img {
  padding: 5%;
  max-height: 1000px;
}

.meta-hero-text-container {
  width: 50%;
  margin-left: 5%;
}

.meta-logo-title {
  max-width: 450px;
  margin-bottom: 2rem;
}

.meta-hero-body {
  max-width: 600px;
}

.meta-creative-container {
  width: 100vw;
  position: relative;
  margin: 0 auto;
}
.meta-creative-title {
  padding: 3% 5%; 
  display: flex;
  align-items: center;
}
.meta-creative-desc {
  border: 2px solid $teal;
  border-radius: 35px;
  text-align: center;
  padding: .5rem 10%;
  margin-left: 10%;
}
.meta-production-desc {
  border: 2px solid $blue;
  border-radius: 35px;
  text-align: center;
  padding: .5rem 8%;
  margin-left: 5%;
}

.meta-creative-grid {
  display: grid;
  max-width: 1600px;
  margin: 2rem auto 5rem auto;
  padding: 0 5% 2% 5%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 7rem;
  a:hover {
    opacity: 90%;
    transition: .3s ease;
  }
}

.meta-creative-item {
  img {
    width: 100%;
  }
}
.meta-production-banner {
  width: 100vw;
  padding: 3% 0;
  img {
    width: 100%;
  }
}
.meta-production-subheader {
  text-align: center;
  margin: 2rem;
}
.meta-production-container {
  .meta-creative-grid {
    padding-bottom: 5%;
  }
}
.meta-education-container {
  .meta-creative-title {
    h1 {
      width: 380px;
    }
  }
  .meta-creative-desc {
    border: 2px solid $orange;
  }
}

// CHELSEA HANDLER

.ch-hero-image {
  width: 50%;
  margin-left: 5%;
}

.ch-hero-img {
  padding-top: 8%;
  max-height: 1200px;
  margin-bottom: -6px;
}

.ch-hero-title {
  color: $blue;
  font-size: 11rem;
  line-height: 10rem;
}

.ch-content-container {
  width: 100vw;
  position: relative;
  margin: 0 auto;
  .meta-creative-title {
    align-items: flex-start;
  }
  .meta-creative-desc {
    background-color: $orange;
    border: none;
    color: white;
    margin-top: 30px;
  }
}

.ch-hero-text-container {
  width: 50%;
  h1 {
    margin: 0;
    padding-bottom: 5%;
  }
  .meta-hero-body {
    max-width: 650px;
  }
}

.ch-results-container {
  position: relative;
  .clients-blue-lines {
    z-index: -1;
  }
  .dh-services-title {
    p {
      margin: 1em;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
  .services-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    grid-gap: 3rem;
  }
  
  .services-grid-item {
    border: 2px solid $blue;
    padding: 3rem;
    h1 {
      color: $orange;
    }
    h3 {
      color: $teal;
      font-size: 3rem;
      margin: 2rem 0;
    }
  }
  .meta-production-banner {
    margin-top: 3%;
    margin-bottom: 2%;
  }
}

// LARGE DESKTOP
@media screen and (min-width: 1550px) {
  #hero-video {
    border-radius: 10em;
  }
  .item-collection-3 {
    display: none;
  }
}
@media screen and (min-width: 1800px) {
  .meta-creative-desc, .meta-production-desc {
    max-width: 850px;
  }
}

@media screen and (min-width: 2500px) {
  #hero-video {
    border-radius: 15em;
  }
  .clients-title, .services-title, .dh-services-title, .meta-creative-title {
    margin: 0 auto;
    max-width: 2200px;
  }
  .contact-title {
    margin: 5% auto;
    max-width: 2200px;
  }
}

@media screen and (max-width: 1750px) {
  .work-item-2 {
    h1 {
      font-size: 9rem;
      line-height: 8rem;
    }
  }
  .clients-grid {
    grid-column-gap: 10px;
    grid-row-gap: 6rem;
  }
  .client-logo {
    max-width: 180px;
  }
  .logo-sq {
    max-width: 120px;
  }
  .contact-container {
    margin-bottom: 5%;
  }
  .contact-img {
    width: 60%;
  }
  .dh-hero-body {
    width: 85%;
  }
  .dh-results-container  {
    .services-grid-item {
      padding: 1rem;
      h3 {
        font-size: 2.8rem;
        line-height: 3rem;
      }
    }
  }
  .dh-ranking-text {
    h5 {
      font-size: 2.8rem;
    }
  }
  .dh-services-item {
    padding: 2.5rem;
  }
  .meta-creative-grid {
    grid-gap: 5rem;
  }
  // .meta-creative-desc, .meta-production-desc {
  //   padding: .5rem 3%;
  // }
  .ch-results-container .services-grid-item h1 {
    font-size: 7rem;
  }
  .ch-results-container .services-grid-item h3 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1500px) {
  h1 {
    font-size: 7rem;
    line-height: 6rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2rem;
  }
  p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  .ticker {
    p {
      font-size: 2rem;
      line-height: 2.2rem;
      margin: 1rem 0 0.5rem 0;
    }
  }
  .services-grid-item {
    padding: 1.2rem 1.2rem 0 1.2rem;
  }
  .contact-form {
    label {
      font-size: 1.5rem;
    }
  }
  .feedback-input {
    padding: 5px;
    font-size: 1.5rem;
  }
  [type=submit] {
    font-size: 1.3rem;
    padding: 10px 25px;
  }
  #footer {
    p {
      font-size: 1.4rem;
    }
  }
  .dh-hero-title {
    font-size: 8rem;
    line-height: 7rem;
  }
  .dh-hero-text-container {
    left: 35%;
    width: 60%;
  }
  .dh-hero-badge {
    width: 120px;
  }
  .dh-services-item {
    padding: 2rem;
  }
  .dh-services-podcast-video {
    padding: 5%;
    max-width: 1200px;
    iframe {
      width: 100%;
      margin: auto;
    }
  }
  .dh-shorty-award {
    img {
      max-width: 300px;
    }
  }
  .dh-results-container  {
    .services-grid-item {
      h3 {
        font-size: 2.2rem;
        line-height: 2.5rem;
      }
    }
  }
  .dh-ranking-number {
    h3 {
      font-size: 4rem;
    }
  }
  .dh-ranking-text {
    h5 {
      font-size: 2.2rem;
    }
  }
  .dh-results-container {
    .services-grid-item {
      .social-logo-sq {
        height: 45px;
      }
      .social-logo {
        height: 35px;
      }
    }
  }
  .meta-creative-desc, .meta-production-desc {
    padding: 1rem;
  }
  .ch-hero-image {
    margin-left: 0;
  }
  .ch-hero-img {
    max-height: 1000px;
  }
  .ch-hero-title {
    font-size: 9rem;
    line-height: 8rem;
  }
  // .meta-hero-body p, .meta-creative-desc p, .meta-production-desc p, .dh-hero-body p, .dh-services-item p {
  //   font-size: 1.5rem;
  //   line-height: 2.4rem;
  // }
  .ch-results-container .services-grid-item {
    padding: 2rem;
  }
  .ch-results-container .services-grid-item h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 1290px) {
  .work-item-2 {
    h1 {
      font-size: 7rem;
      line-height: 6rem;
    }
  }
  .work-orange-lines, .clients-blue-lines {
    width: 30%;
  }
  .dh-hero-text-container {
    top: 5%;
  }
  .dh-hero-title {
    font-size: 7rem;
    line-height: 6rem;
  }
  .dh-hero-badge {
    width: 100px;
  }
  .dh-services-grid {
    grid-gap: 2rem;
  }
  .dh-results-container  {
    .services-grid-item {
      h3 {
        font-size: 1.8rem;
        line-height: 2rem;
        margin: 1.5rem;
      }
    }
  }
  .dh-ranking-number {
    h3 {
      font-size: 3rem;
    }
  }
  .dh-ranking-text {
    h5{
      font-size: 1.8rem;
      line-height: 2rem;
    }
  }
  .meta-hero-text-container {
    margin-left: 3%;
    padding-right: 5%;
  }
  .meta-hero-img {
    max-width: 800px;
    padding: 5% 0;
  }
  .meta-logo-title {
    max-width: 380px;
  }
  .meta-creative-grid {
    grid-gap: 3rem;
  }
  .ch-hero-text-container .meta-hero-body {
    max-width: 500px;
  }
  .ch-hero-text-container {
    width: 45%;
    margin-left: 3%;
  }
  .ch-results-container {
    .services-grid {
      h1 {
        font-size: 5rem;
      }
      h3 {
        font-size: 2rem;
      }
    }
  }
  .ch-hero-title {
    font-size: 7.5rem;
    line-height: 6.5rem;
  }
  .ch-hero-img {
    max-height: 900px;
  }
  .ch-results-container .services-grid-item {
    padding: 1rem;
  }
}

//TABLET

@media screen and (max-width: 1024px) {
  .clients-grid-container {
    margin-top: 30px;
  }
  .clients-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
    padding-bottom: 7%;
  }
  .clients-row-title {
    // display: none;
    justify-content: center;
    h3 {
      color: white;
    }
  }
  .orange-mobile {
    border: 1px solid $orange;
  }
  .teal-mobile {
    border: 1px solid $teal;
  }
  .blue-mobile {
    border: 1px solid $blue;
  }
  .orange-bg-mobile {
    background: $orange;
  }
  .teal-bg-mobile {
    background: $teal;
  }
  .blue-bg-mobile {
    background: $blue;
  }
  .services-grid {
    grid-template-columns: 1fr 1fr;
  }
  .contact-container {
    height: 75vh;
  }
}